*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

main {
  max-width: 50%;
  margin: 0 auto;
  padding: 1rem;
}

article {
  margin: 1rem 0;
}

@supports (display: grid) {
  main {
    max-width: 100%;
    margin: 0 3%;
  }
  article {
    margin: 0;
  }
  .CatButtons,
  .list_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-gap: 1rem;
    padding-left: 0;
  }
  #main_product {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-gap: 1rem;
    padding: 3% 3%;
  }
  #main_product img {
    max-width: 100%;
  }
}
p {
  margin-bottom: 0.2rem;
  font-size: 1.5vw;
}

#main_product h1 {
  font-size: 2.7vw;
}

article:hover {
  box-shadow: 0 0 10px black;
}

.productImg {
  /* border: solid #393939 1px; */
  box-shadow: 0 0 2vw #393939;
}

header {
  background-color: #393939;
  color: white;
  display: flex;
  justify-content: space-between;
  gap: 45%;
  align-items: center;
  padding: 1% 3%;
}
header h1 {
  font-style: normal;
  padding: 1% 0;
  color: white;
  font-size: 2vw;
}

.list_grid img {
  max-width: 100%;
}

footer {
  text-align: center;
  padding: 2%;
}

h1,
h2 {
  padding-top: 2%;
}

h3,
h2 {
  font-size: 1.5vw;
  font-weight: bold;
  color: #707070;
}
h1 {
  font-size: 3vw;
  font-weight: bolder;
  font-style: italic;
  color: #707070;
}
.NoDiscount {
  display: none;
}

.add {
  padding: 1% 2%;
  background-color: #393939;
  border: none;
  box-shadow: none;
  color: white;
}

.CatButtons li {
  background-color: #393939;
  list-style: none;
  text-align: center;
  padding: 5% 0;
  border: none;
  color: white;
}

.CatButtons a {
  padding: 5% 30%;
  color: white;
}

.CatButtons li:hover {
  box-shadow: 0 0 2vw #393939;
  background-color: #707070;
}

#Info {
  padding-top: 30%;
  margin-left: 7.5vw;
}

#Info div {
  max-width: 100%;
  padding: 5% 0;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.Info_short a {
  padding: 1% 2%;
  background-color: #5e5e5e;
  border: none;
  box-shadow: none;
  color: white;
  font-size: 1.5vw;
}

.Info_short a:hover {
  background-color: rgb(177, 177, 177);
  color: black;
}

nav a {
  color: white;
  font-size: 1.5vw;
  font-weight: lighter;
  padding: 0 4%;
}
nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  gap: 20%;
}

.Info_short {
  background-color: #393939;
  height: 16vw;
  padding: 5% 0;
  padding-left: 1.5vw;
  color: white;
}

#main_list .Img {
  max-width: 100%;
  /* border: 1px #393939 solid; */
}
