/*variables*/
:root {
  --main-colour: #393939;
  --secondary-colour: #707070;
  --shadow: 0 0 1rem #393939;
  --font-colour: white;
}
/*styling*/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

main {
  max-width: 50%;
  margin: 0 auto;
  padding: 1rem;
}

article {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0;
}

p {
  margin-bottom: 0.2rem;
  font-size: 1rem;
  max-width: 62ch;
}

#main_product h1 {
  font-size: 1rem;
}
#main_product img {
  max-width: 100%;
}

.productImg,
article:hover {
  box-shadow: var(--shadow);
}

header {
  background-color: #393939;
  color: white;
  display: flex;
  justify-content: space-between;
  gap: 45%;
  align-items: center;
  padding: 1% 3%;
}
header h1 {
  font-style: normal;
  padding: 1% 0;
  color: white;
  font-size: 1.2rem;
}

.list_grid img {
  max-width: 100%;
}

footer {
  text-align: center;
  padding: 2%;
}

h1,
h2 {
  padding-top: 2%;
}

h3,
h2 {
  font-size: 1rem;
  font-weight: bold;
  color: #707070;
  margin-bottom: 0.2rem;
}
h1 {
  font-size: 2rem;
  font-weight: bolder;
  font-style: italic;
  color: #707070;
  margin-bottom: 0.2rem;
}
.NoDiscount {
  display: none;
}

.add {
  padding: 1% 2%;
  background-color: #393939;
  border: none;
  box-shadow: none;
  color: white;
}

.CatButtons li {
  background-color: #393939;
  list-style: none;
  text-align: center;
  border: none;
  color: white;
}

.CatButtons a {
  padding: 5% 30%;
  color: white;
  display: block;
}

.CatButtons li:hover {
  box-shadow: var(--shadow);
  background-color: #707070;
}

/* #Info { */
/* padding-top: 30%; */
/* margin-left: 7.5rem; */
/* } */

#Info div {
  max-width: 100%;
  padding: 5% 0;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.Info_short a {
  background-color: var(--secondary-colour);
  border: none;
  box-shadow: none;
  color: white;
  font-size: 1rem;
}

.Info_short a:hover {
  background-color: #4d4d4d;
  color: rgb(255, 255, 255);
}

nav a {
  color: white;
  font-size: 1rem;
  font-weight: lighter;
  padding: 0 4%;
}
nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  gap: 20%;
}

.Info_short {
  background-color: #393939;
  color: white;
  padding: 1rem;
}

#main_list .Img {
  max-width: 100%;
}

.percent {
  background-color: red;
  padding: 2%;
}
.discounted {
  display: flex;
  justify-content: space-between;
}

.soldout {
  display: block;
  position: absolute;
  background: red;
  padding: 10%;
}

@supports (display: grid) {
  main {
    max-width: 100%;
    margin: 0 3%;
  }
  article {
    margin: 0;
  }
  .CatButtons,
  #main_product {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70%, 1fr));
    grid-gap: 1rem;
    padding-left: 0;
  }
  .list_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    grid-gap: 1rem;
    padding: 3% 3%;
  }
  .CatButtons a {
    padding: 2% 30%;
    font-size: 1rem;
  }
  /* .Info_short {
    min-height: 2.4rem;
  } */
  .Info_short a {
    padding: 3% 30%;
  }
  @media screen and (min-width: 768px) and (max-width: 1100px) {
    .CatButtons,
    #main_product {
      grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    }
    .list_grid {
      grid-template-columns: repeat(auto-fit, minmax(35%, 1fr));
    }
    .CatButtons a {
      padding: 3% 30%;
      font-size: 1rem;
    }
    /* .Info_short {
      min-height: 2.2rem;
    } */
    .Info_short a {
      padding: 3% 20%;
    }
  }
  @media screen and (min-width: 1101px) {
    #main_product {
      grid-template-columns: 1fr 1fr;
      grid-gap: 3rem;
    }
    .list_grid,
    .CatButtons {
      grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
      grid-gap: 1rem;
    }
    .Info_short {
      min-height: fit-content;
    }
    .Info_short a {
      padding: 3% 10%;
    }
  }
}
