*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

main {
  background: url("/assets/COLOURBOX26292532.jpg");
  background-size: cover;
  background-attachment: fixed;
  max-width: 50%;
  margin: 0 auto;
  padding: 1rem;
}

article {
  margin: 1rem 0;
}

@supports (display: grid) {
  main {
    max-width: 100%;
    margin: 0;
  }
  article {
    margin: 0;
  }
  .CatButtons,
  .list_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-gap: 1rem;
    padding-left: 0;
  }
  #main_product {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-gap: 1rem;
    padding: 3% 3%;
  }
  #main_product img {
    max-width: 100%;
  }
}

header {
  background-color: rgb(3, 59, 55);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 3%;
}

.list_grid img {
  max-width: 100%;
  border-radius: 2vw;
}
#main_list h1 {
  padding-left: 2vw;
}

footer {
  text-align: center;
  padding: 2%;
}

h1,
h2 {
  padding-top: 2%;
}

.NoDiscount {
  display: none;
}

.add {
  border-radius: 1vw;
  padding: 1% 2%;
  background-color: lightgrey;
  box-shadow: none;
}

.CatButtons li {
  background-color: rgb(255, 255, 255);
  list-style: none;
  text-align: center;
  padding: 5% 0;
  border: solid black 0.2vw;
  border-radius: 1vw;
}

.CatButtons a {
  padding: 5% 40%;
}

.CatButtons li:hover {
  background-color: gray;
}

#Info {
  padding-top: 60%;
  font-size: rem3;
}

#Info div {
  background-color: gray;
  max-width: 100%;
  padding: 10% 20%;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.Info_short a {
  border: 1% rgb(104, 104, 104);
  background-color: rgb(182, 182, 182);
  border-radius: 0.5vw;
  padding: 0 3%;
}

nav a {
  color: white;
}

.Info_short {
  background-color: rgba(238, 238, 238, 0.904);
  height: 16vw;
  padding-left: 1.5vw;
  border-radius: 2vw;
  padding-top: 1vw;
}
